<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Username <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" placeholder="Username"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>
    
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Update account</ion-button>
    </div>
  </form>
  
  <section class="full-width">
    <ion-button routerLink="/home/trip-user" expand="full" color="secondary">My Trips</ion-button>
    <ion-button routerLink="/home/gallery" expand="full" color="tertiary">My Gallery</ion-button>
  </section>
</ion-content>
