<ion-header>
    <ion-toolbar>
        <ion-title>The place</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{place.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{place.description}}</ion-card-content>
        <ion-img [src]='place.pictureUrl'></ion-img>
        Created at :
        <ion-datetime displayFormat="DD-MM-YYYY" [value]='place.createdAt'></ion-datetime>
        Updated at :
        <ion-datetime displayFormat="DD-MM-YYYY" [value]='place.updatedAt'></ion-datetime>
    </ion-card>
  <h2>Map</h2>
    <div class="map"
         leaflet
         [leafletOptions]="mapOptions"
         [leafletLayers]="mapMarkers"
         (leafletMapReady)="onMapReady($event)">
    </div>
    <ion-row>
        <ion-col col-6>
            <ion-button [routerLink]="['/home/place-list']" expand="full" type="submit" color="secondary">BACK TO ALL PLACES</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
