<ion-header>
  <ion-toolbar>
    <ion-title>TripList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- START GET ALL TRIPS -->
  <!-- Start filter -->
  <ion-list>
    <ion-item>
      <ion-label>Filter</ion-label>
      <ion-select placeholder="Select a filter">
        <ion-select-option value="f">Name a-z</ion-select-option>
        <ion-select-option value="m">Name z-a</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <!-- Stop filter -->
  
  <!-- Start List of trip -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Trip title</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Trip description :
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </ion-card-content>
  </ion-card>
  <!-- Stop List of trip -->
  
  <!-- Start Buttons back & next -->
  <ion-row>
    <ion-col col-6> 
      <ion-button expand="full">BACK</ion-button>
    </ion-col>
    
    <ion-col col-6>
      <ion-button expand="full">NEXT</ion-button>
    </ion-col>
  </ion-row>
  <!-- Stop Buttons back & next -->
  <!-- STOP GET ALL TRIPS -->
</ion-content>
